@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* ----- utility classes ----- */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* ----- general styles ----- */
h1, h2, h3, b {
    font-weight: 600;
}

/* ----- gross layout ----- */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

nav {
    padding: 1.0em;
    flex-basis: 18em;
}

#calendar-inner {
    padding: 1.0rem;
}

@media (max-width: 800px) {
    
    main {
        flex-direction: column;
    }

    nav {
        order: -1;
        flex-basis: 0;
    }

    #calendar-inner {
        padding: 0;
    }

}

#calendar-area {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#calendar-area > div {
    flex-grow: 1;
}

#calendar-title {
    font-weight: 400;
    margin: 0;  
    padding: 1.0rem;
}

/* ----- ribbon ----- */
header {
    width: 100%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 0 1.0em;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

header button {
    border: none;
    background: none;
    padding: 1em;
    cursor: pointer;
}

header button:hover {
    background: #e9e9e9;
}

/* ----- day view ----- */
#hours-grid {
    display: grid;
    grid-template-columns: 5em repeat(auto-fill, minmax(8em, 1fr));
    grid-template-rows: repeat(23, 1fr);
}

.hour {
    height: 4.0em;
    font-size: 10pt;
    color: #777;
    border-bottom: 1px solid #ddd;
    padding: 4px;
    box-sizing: border-box;
}

.task {
    background-color: #b2e3ff;
    color: #325e78;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.5em;
    z-index: 1;
    box-sizing: border-box;
}

.task.standalone {
    margin: 0.5em 0;
}

@media (max-width: 800px) {
    .hour {
        height: 5.0em;
    }
}

/* ----- month view ----- */
#calendar-headings, #calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calendar-body {
    height: calc(100% - 1.0em);
    background-color: #ccc;
    border: 1px solid #ccc;
    gap: 1px;
}

.header, .calendar-cell {
    padding: 5px;
}

.header {
    font-size: 11pt;
    color: #aaa;
    margin-bottom: 0;
}

.header .narrow { display: none; }

@media (max-width: 800px) {

    /* show the narrow weekday headers when the screen is narrow */
    .header .narrow {
        display: block;
        text-align: center;
    }
    .header .wide { display: none; }

}

.calendar-cell {
    background-color: #fff;
    font-size: 10pt;
}

.calendar-cell.weekend {
    background-color: #f8f8f8;
}

/* ----- modals ----- */
.modal-layer {
    background-color: rgba(0, 0, 0, 25%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 2;
}

.modal {
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1.0em;
}